/* ------------------------------------------------- Reset CSS from Yahoo ------------------------------------------------- */
		body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
		    margin: 0;
		    padding: 0;
		}
		table {
		    border-collapse: collapse;
		    border-spacing: 0;
		}
		fieldset, img {
		    border: 0;
		}
		address, caption, cite, code, dfn, em, strong, th, var {
		    font-style: normal;
		    font-weight: normal;
		}
		ol, ul {
		    list-style: none;
		}
		caption, th {
		    text-align: left;
		}
		h1, h2, h3, h4, h5, h6 {
		    font-size: 100%;
		    font-weight: normal;
		}
		q:before, q:after {
		    content: '';
		}
		abbr, acronym {
		    border: 0;
		}
/* ------------------------------------------------- end of reset ------------------------------------------------- */

/* ------------------------------------------------- Fonts link */
@font-face {
    font-family: 'cuprumregular';
    src: url('font/cuprum-regular-webfont.eot');
    src: url('font/cuprum-regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/cuprum-regular-webfont.woff') format('woff'), url('font/cuprum-regular-webfont.ttf') format('truetype'), url('font/cuprum-regular-webfont.svg#cuprumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'intro_regular';
    src: url('font/intro-webfont.eot');
    src: url('font/intro-webfont.eot?#iefix') format('embedded-opentype'), url('font/intro-webfont.woff') format('woff'), url('font/intro-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------------------------- Animate color for h1 */
@keyframes myfirst
{
0%   {color: #FFEFBF;}
25%  {color: #BFDFFF;}
50%  {color: #FFCFBF;}
100% {color: #ffffff;}
}

@-moz-keyframes myfirst /* for Firefox */
{
0%   {color: #FFEFBF;}
25%  {color: #BFDFFF;}
50%  {color: #FFCFBF;}
100% {color: #ffffff;}
}

@-webkit-keyframes myfirst /* for Safari and Chrome */
{
0%   {color: #FFEFBF;}
25%  {color: #BFDFFF;}
50%  {color: #FFCFBF;}
100% {color: #ffffff;}
}

@-o-keyframes myfirst /* for Opera */
{
0%   {color: #FFEFBF;}
25%  {color: #BFDFFF;}
50%  {color: #FFCFBF;}
100% {color: #ffffff;}
}

/* ------------------------------------------------- My StyleSheet ------------------------------------------------- */
html, body {
    height: 100%;
    width: 100%;
}

body {
    background: url('img/bg_wood.png') repeat;
    font: 16px 'cuprumregular';
}

.wrapper {
    position: relative;
    height: auto;
    min-height: 100%;
    margin: 0 auto;
}

.main {
	overflow: auto;
	margin-bottom: 70px;
}

/* Opera Fix */
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

header {
    width: 660px;
    height: 300px;
    margin: 5% auto 0;
    border: 1px solid #000;
    box-shadow: 0px -5px 30px #666;
    -webkit-box-shadow: 0px -5px 30px #666;
    -moz-box-shadow: 0px -5px 30px #666;
    background: url('img/profile_pic.png') no-repeat bottom left #fff;
}

h1 {
    margin: 20px 20px 0 269px;
    letter-spacing: 2px;
    font: 2.5em 'intro_regular';
    color: #fff;
    background: #000;
    animation: myfirst 10s;
    -moz-animation: myfirst 10s; /* Firefox */
    -webkit-animation: myfirst 10s; /* Safari and Chrome */
    -o-animation: myfirst 10s; /* Opera */
}

h2 {
    font-size: 2.3em;
}

header h1, header h2, header ul {
    text-align: right;
    padding: 10px 20px;
    
}

ul.social-links {
    padding: 0 20px;
    margin-top: 15px;
}

ul.social-links li {
    float: right;
    width: 36px;
    height: 36px;
    margin-left: 10px;
}
ul.social-links li a {
    padding: 10px 18px;
    line-height: 36px;
    cursor: pointer;
}

li.linkedin {
    background: url('img/social-in.png') no-repeat;
}
li.facebook {
    background: url('img/social-f.png') no-repeat;
}
li.twitter {
    background: url('img/social-tw.png') no-repeat;
}

nav {
    width: 660px;
    height: 40px;
    margin: 0 auto 50px;
    border: 1px solid #000;
    box-shadow: 0px 12px 30px #666;
    -webkit-box-shadow: 0px 12px 30px #666; /*Chrome&Safari*/
    -moz-box-shadow: 0px 12px 30px #666; /*for Firefox*/
    font-family: 'intro_regular';
    background: #000;  
}

ul.nav {
    width: 620px;
    margin: auto;
}

ul.nav li {
    float: left;
    margin: 10px 45px;
}

a.nav-item {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

a.nav-item:hover {
    color: #BFDFFF;
}

article {
display: none;
	text-align: left;
    width: 562px;
    height: auto;
    margin: 0 auto;
    padding: 50px;
    opacity: 0.8;
    background:none;
}

.text {
    padding: 0 0 10px 95px;
}

.date, .place {
    display: inline;
    margin-right: 50px;
    font: 1em 'intro_regular';
}

.date {
    width: 35px;
    padding: 0 5px;
    float: left;
}

.date:first-child {
    background: #000;
    color: #fff;
}

.extra {
    color: #666;
    padding: 20px 0 10px 5px;
}

#work ul {
    height: 70px;
}

#work ul li {
    float: left;
    width: 80px;
    height: 60px;
    border: 1px solid #999;
    margin-right: 20px;
    padding: 5px;
    text-align: center;
}

#work a {
    font-size: 1.0em;
    color: #333;
    line-height: 25px;
}

li.link-tundik {
    background: url('img/tundik1.png');
}
li.link-tundik:hover {
    background: url('img/tundik.png');
} 

li.link-game {
    background: url('img/kalevala1.png');
}
li.link-game:hover {
    background: url('img/kalevala.png');
}

li.link-card {
    background: url('img/aqua1.png');
}
li.link-card:hover {
    background: url('img/aqua.png');
}

li.skill-item span {
    font: 0.9em 'intro_regular';
    padding-right: 10px;
}

p.cv-download {
    font-size: 1.0em;
    margin: 30px -50px 0 0;
    padding: 8px;
    float: right;
    color: #333;
    border: 1px solid #333;
}
p.cv-download a {
    color: #666;
}

footer {
    position: relative;
    width: 660px;
    height: 50px;
    text-align: center;
    margin: -50px auto 0px;
    color: #666;
}

footer a {
    font: 0.8em 'intro_regular';
    text-decoration: none;
    color: #666;
}

footer a:hover {
    text-decoration: underline;
}

